{% extends 'base.html' %} 
{% block main %}
<section class="section-blogs">
  <div class="container">
  <div class="flex">
    <a href="{% url 'blog' %}" class="nav-link underline">Back to blogs</a>
    <div class="flex g-3">
      <a href="{% url 'blog_update' blog.id  %}" class="nav-link underline">Edit this blog</a>
    <a href="{% url 'blog_delete' blog.id  %}" class="nav-link underline color-red">Delete this blog</a>
    </div>
  </div>
  
  </div>
  <div class="container">
    <div class="blog-detail">
      <div class="blog-card blog-card-detail">
        <div class="blog-card-img">
        {% load static %}
          <img
            src="{{ blog.image.url }}"
            alt=""
            class="img-responsive"
          />
        </div>
        <div class="blog-card-text">
          <div class="blog-text-info">
            <h4 class="blog-title">{{blog.title}}</h4>
            <p class="blog-subtitle">
              {{blog.subtitle | upper}}
            </p>
            <span class="blog-date"> {{blog.date}} </span>
            <div class="blog-para">
              <p class="blog-paragraph">
                {{blog.paragraph | safe}}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}