{% extends "base.html" %}

{% block main %}
      <section class="section-blogs">
        <div class="container">
        <div class="flex">
          <h1 class="heading-primary">My Recent blogs &DownArrow;</h1>
            <a href="{% url 'create' %}" class="btn">Create a New Blog</a>
        </div>
        </div>
        <div class="container">
          <div class="blogs">
          {% for blog in blogs_list %}
            <div class="blog-card">
              <div class="blog-card-text">
                <div class="blog-text-info">
                  <h4 class="blog-title">{{blog.title}}</h4>
                  <p class="blog-subtitle">
                  {{blog.subtitle}}
                  </p>
                  <span class="blog-date">{{blog.date}} </span>
                </div>
                <div class="blog-link-info">
                  <a href="{% url 'blogdetail' blog.id %}" class="blog-link">{{blog.btntext}}</a>
                </div>
              </div> 
              {% load static %}
              <div class="blog-card-img">
                <img
                  src="{{blog.image.url }}"
                  alt=""
                  class="img-responsive"
                />
              </div>
            </div>
          {% endfor %}
          </div>
        </div>
      </section>
{% endblock %}