{% extends 'base.html' %}
{% block content %}
<style>
    .paragraph-primary{
        margin-left: 2rem;
        display:flex

}
</style>

<p class="paragraph-primary">
so iam gonna live forever with ou uhuhuh  i am ohoh 
we areee the championsss
we areeee the championssss'
nooo time for loser cause we are the championb
mamavjust killed a man put a gun against his head pull my trigger now he is dead mama uhuhhuu life has just begun anddddd
mama uhuhhuh
i don't wanna die sometimes wish i never been born at all mama uhuhuhu 


hallelujah sooo so  can tell heaven from hell blues skies no painn
</p> 

{% endblock content %}